/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@media only screen and (max-width: 484px) {
  .pc {
      display: none;
  }

  .mobile {
      display: flex;
  }

  .tamanhoc{
    width: 10em;
    height: 5em;
  }

  .dropdown-toggle::after {
      content: none;
  }

  .tamanhodoslideteste {
      height: 200px;
      width: 100%;
      background-color: black;
  }

  .alturanav {
      height: 0;
      width: max-content;
  }

}

@media only screen and (min-width: 485px) {
  .pc {
      display: flex;
  }

  .tamanhodoslideteste {
      height: 400px;
      width: 100%;
      background-color: black;
  }

  .tamanhoc{
    width: 24em;
    height: 5em;
  }

  .mobile {
      display: none;
  }

  .alturanav {
      height: 100px;
      width: max-content;
  }

  .car-sub-fonte{
      font-size: 5px;
  }

}
.semponto {
  list-style: none;
}

.emlinha {
  display: inline;
}

.vermelho {
  background-color: red;
}

.tamanho {
  height: 100px;
}


.icones {
  font-size: 2rem;
}

.menu {
  width: 20em;
}


