@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserAcount> SignInManager
@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post" class="navbar-left">
        <ul class="nav navbar-nav navbar-left">
            <button type="submit" class="nav-link btn btn-link mt-1 ms-4">
                <strong> Logout : @User.Identity.Name &nbsp; </strong>
            </button>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-left ms-4 ps-4">
        <a class="nav-link btn btn-danger text-white ms-4 me-3" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@string.Format("{0}{1}",Context.Request.Path, Context.Request.QueryString)">&nbsp; Log in&nbsp; </a>
        <a class="nav-link btn btn-outline-danger text-danger me-2 ps-3" asp-controller="Account" asp-action="Register">&nbsp;Registro&nbsp;&nbsp;&nbsp;</a>
    </ul>
}