/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-7dt5ie8pw6] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-7dt5ie8pw6] {
  color: #0077cc;
}

.btn-primary[b-7dt5ie8pw6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-7dt5ie8pw6], .nav-pills .show > .nav-link[b-7dt5ie8pw6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-7dt5ie8pw6] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-7dt5ie8pw6] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-7dt5ie8pw6] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-7dt5ie8pw6] {
  font-size: 1rem;
  line-height: inherit;
}

*[b-7dt5ie8pw6] {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@media only screen and (max-width: 484px) {
  .pc[b-7dt5ie8pw6] {
      display: none;
  }

  .mobile[b-7dt5ie8pw6] {
      display: flex;
  }

  .tamanhoc[b-7dt5ie8pw6]{
    width: 10em;
    height: 5em;
  }

  .dropdown-toggle[b-7dt5ie8pw6]::after {
      content: none;
  }

  .tamanhodoslideteste[b-7dt5ie8pw6] {
      height: 200px;
      width: 100%;
      background-color: black;
  }

  .alturanav[b-7dt5ie8pw6] {
      height: 0;
      width: max-content;
  }

}

@media only screen and (min-width: 485px) {
  .pc[b-7dt5ie8pw6] {
      display: flex;
  }

  .tamanhodoslideteste[b-7dt5ie8pw6] {
      height: 400px;
      width: 100%;
      background-color: black;
  }

  .tamanhoc[b-7dt5ie8pw6]{
    width: 24em;
    height: 5em;
  }

  .mobile[b-7dt5ie8pw6] {
      display: none;
  }

  .alturanav[b-7dt5ie8pw6] {
      height: 100px;
      width: max-content;
  }

  .car-sub-fonte[b-7dt5ie8pw6]{
      font-size: 5px;
  }

}
.semponto[b-7dt5ie8pw6] {
  list-style: none;
}

.emlinha[b-7dt5ie8pw6] {
  display: inline;
}

.vermelho[b-7dt5ie8pw6] {
  background-color: red;
}

.tamanho[b-7dt5ie8pw6] {
  height: 100px;
}


.icones[b-7dt5ie8pw6] {
  font-size: 2rem;
}

.menu[b-7dt5ie8pw6] {
  width: 20em;
}


